$primary-color-60: #53B8A3; /* hover-button */
$primary-color-50: #209F85;
$primary-color-40: #21CCA9;
$primary-color-30: #73E5CF;
$primary-color-20: #C2F2EA;
$primary-color-10: #E5FEF8;

$secondary-color-60: #FF934D; /* hover-button */
$secondary-color-50: #FF7D29;

$neutral-color-90: #2B2C37;
$neutral-color-80: #35384D;
$neutral-color-70: #5E627A;
$neutral-color-60: #7E829F;
$neutral-color-50: #AFB4D6;
$neutral-color-40: #CFD1E5;
$neutral-color-30: #F0F1FC;
$neutral-color-20: #F7F7FA;

