.fade-enter-active, .fade-leave-active {
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(1.25rem);
}

.slow-fade-enter-active, .slow-fade-leave-active {
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}
.slow-fade-enter, .slow-fade-leave-to {
    opacity: 0;
    transform: translateY(1.25rem);
}
